
@{
    ViewData["Title"] = "Menu";
}

<div class="row">
    <a href="../Jogo/Index">
        <div class="col-lg-4">
            <button class="btn btn-warning">Jogos</button>
        </div>
    </a>
    <a href="../Amigo/Index">
        <div class="col-lg-4">
            <button class="btn btn-danger">Amigos</button>
        </div>
    </a>

    <a href="../Emprestimo/Index">
        <div class="col-lg-4">
            <button class="btn btn-primary">Empréstimo</button>
        </div>
    </a>
</div>

