
@{
    ViewData["Title"] = "Index";
}

<h3>Meus jogos</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody></tbody>

    @{
        foreach (var item in (List<Entities.Models.Amigo>)ViewBag.ListaAmigos)
        {
            <tbody>

                <tr>
                    <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id.ToString())">Excluir</button></td>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                </tr>

            </tbody>
        }
    }
</table>
<button type="button" class="btn btn-block btn-primary" onclick="CriarAmigo()">Criar Amigo</button>
<script>
    function CriarAmigo() {
        window.location.href = "../Amigo/CriarAmigo";

    }
    function Excluir(id) {
        window.location.href = "../Amigo/Excluir/" + id;
    }
</script>